{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="conteiner">
        <button class="button button1">
            <a href="logout">  Oturum Kapat</a>   
        </button>
        <button class="button button1">
            <a href="feed">  <h2>Ana Sayfaya Dön</h2></a>  
            </button>

        <ul>
        {% for a in feed %}

            <li><h2>{{ a.userId }}</h1>
                <br>
                Post:{{ a.title}}
            </li>
        {% endfor %}
          </ul>
   

        
        
        
       
        
    
       
    

     
        
     


    </div>
      
   
</div>
</body>
</html>